* {
  /* outline: 2px solid grey; */
  box-sizing: border-box;
}

html {
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#game-panel {
  background-color: seashell;
  border: 2px solid lightseagreen;
  border-radius: 4px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 40px;
}

#play-button {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

#play-button button {
  flex-basis: auto;
  width: 160px;
  height: auto;
  padding: 8px;
  margin-top: 12px;
  font-size: large;
  font-weight: 600;
  border: 3px solid white;
  border-radius: 8px;
  color: navy;
  cursor: pointer;
}

#rock {
  background-color: gray;
}

#paper {
  background-color: whitesmoke;
}

#scissors {
  background-color: orange;
}

.winner {
  font-size: 24px;
  color: gray;
  font-weight: 500;
}

.final {
  font-size: 36px;
  color: goldenrod;
  font-weight: 700;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: lightsalmon;
  border: 2px solid brown;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  width: 480px;
}

#score:first-child {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.score-detail {
  font-size: 28px;
  font-weight: 600;
  color: darkslategrey;
}
